<div class="list row">
  <div class="col-md-3 ml-auto">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="name" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="searchCompany()">
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-12">

    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Company Name</th>
        <th>Adresse</th>
        <th>Tva</th>
      </tr>
      <tr *ngFor="let comapny of comapnys | paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index">
        <td>{{ comapny.id }}</td>
        <td>{{ comapny.nom }}</td>
        <td>{{ comapny.adresse }}</td>
        <td>{{ comapny.tva }}</td>
      </tr>
    </table>
    <div class="col-md-12">
      <div >
      <select (change)="handlePageSizeChange($event)">
        <option *ngFor="let size of pageSizes" [ngValue]="size">
          {{ size }}
        </option>
      </select>
      </div>
      <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true"
        (pageChange)="handlePageChange($event)">
      </pagination-controls>
    </div>

  </div>
</div>