<mat-card>
	<mat-card-header>
		<mat-card-title>Register</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<form [formGroup]="signupForm" > 
			<table cellspacing="0">
				<tr>
					<td>
						<mat-form-field>
							<input matInput placeholder="Username" 
							formControlName="username" 
							name="username" required >
						</mat-form-field>
					</td>
				</tr>
				<tr>
					<td>
						<mat-form-field>
							<input matInput placeholder="Password" formControlName="password" type="password"
								name="password" required >
						</mat-form-field>
					</td>
				</tr>
			</table>
		</form>
	</mat-card-content>
	<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
	<mat-card-actions>
		<div class="text-center">
			<button mat-raised-button (click)="registerUser()" color="primary">Register</button>
		</div>
	</mat-card-actions>
</mat-card>