<div class="container">
  <div class="main-body">
    <div class="row">
      <div class="col-lg-8">
        <div class="contact">
          <div class="card">
            <div class="card-body">
              <form [formGroup]="contactForm" (ngSubmit)="submitContactData()" novalidate>
                <!-- Form Row-->
                <div class="row gx-3 mb-3">
                  <!-- Form Group (first name)-->
                  <div class="col-md-6">
                    <label class="small mb-1" for="contact-nom">First name</label>
                    <input class="form-control" id="contact-nom" type="text" placeholder="first name"
                      formControlName="nom">
                  </div>
                  <!-- Form Group (last name)-->
                  <div class="col-md-6">
                    <label class="small mb-1" for="contact-prenom">Last name</label>
                    <input class="form-control" id="contact-prenom" type="text" placeholder="last name"
                      formControlName="prenom">
                  </div>
                </div>

                <!-- Form Group (email address)-->
                <div class="mb-3">
                  <label class="small mb-1" for="contact-adresse">Address</label>
                  <input class="form-control" id="contact-adresse" type="text" placeholder="address"
                    formControlName="adresse">
                </div>
 
                <!-- Save changes button-->
                <div class="row"> 
                  <div class="col-sm-3 text-secondary">
                    <button type="button" (click)="goBack()" class="btn btn-danger px-4">Cancle
                    </button>
                  </div>
                  <div class="col-sm-3 text-secondary">
                    <button type="button" class="btn btn-secondary gap-right" (click)="ResetForm()">
                      Reset
                    </button>
                  </div>
                  <div class="col-sm-6 text-secondary">
                    <button type="submit" class="btn btn-success" [disabled]="!contactForm.valid">
                      Add Contact
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>